<h1>Listing vereadors</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vereadors.each do |vereador| %>
  <tr>
    <td><%= vereador.codigo %></td>
    <td><%= vereador.nome %></td>
    <td><%= link_to 'Show', vereador %></td>
    <td><%= link_to 'Edit', edit_vereador_path(vereador) %></td>
    <td><%= link_to 'Destroy', vereador, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vereador', new_vereador_path %>
