<h1>Listing enderecos</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Nome</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enderecos.each do |endereco| %>
  <tr>
    <td><%= endereco.codigo %></td>
    <td><%= endereco.nome %></td>
    <td><%= endereco.latitude %></td>
    <td><%= endereco.longitude %></td>
    <td><%= link_to 'Show', endereco %></td>
    <td><%= link_to 'Edit', edit_endereco_path(endereco) %></td>
    <td><%= link_to 'Destroy', endereco, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Endereco', new_endereco_path %>
<%= gmaps4rails(@json) %>